@using store_3TN.Controllers
@model AccountController.ChangePasswordVM

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đổi mật khẩu</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.php">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Đổi mật khẩu</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Bạn quên mật khẩu?</h4>
                        <p>Liên hệ với chúng tôi để được hỗ trợ!</p>
                        <a class="primary-btn" asp-action="login" asp-controller="account">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner ">
                    <h3>Đổi mật khẩu</h3>
                    <form method="post" class="row login_form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" type="password" asp-for="OldPassword"
                                placeholder="Nhập mật khẩu cũ">
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" type="password" asp-for="NewPassword"
                                placeholder="Nhập mật khẩu mới">
                        </div>
                        <div class="mt-4 col-md-12 form-group">
                            <input type="submit" value="Đổi mật khẩu" name="submit" class="primary-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->