@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Giới thiệu</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Giới thiệu</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
    <div class="container">
        <h1 class="my-5">Giới thiệu</h1>
        <p>3TN Store là cửa hàng chuyên về các thiết bị điện tử, thông minh của Apple - Tập đoàn công nghệ lớn số một
            thế
            giới. Với khẩu hiệu "Luôn mang những điều tốt đẹp nhất đến với khách hàng", chúng tôi tự hào và
            vinh hạnh khi nhận được sự ủng hộ của các khách hàng từ Bắc tới Nam trong suốt 5 năm qua.
        </p>
        <p class="mt-3">Nay để thuận tiện hơn, cũng như đem đến nhiều sự lựa chọn hơn cho các quý khách, chúng tôi đã
            phát triển thêm
            website thương mại điện tử để có thể phục vụ quý khách một cách tốt hơn.
        </p>
        <img class="rounded mx-auto d-block" style="height: 500px;"
            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/iphone-14-lead-1663099771.jpg?resize=980:*"
            alt="">
        <p class="mt-3">
            3TN Store xin cam kết có hóa đơn, chứng từ rõ ràng cho mỗi sản phẩm, đảm báo hàng chính hãng 100%.
            Chúng tôi sẽ luôn cải thiện chất lượng dịch vụ ngày càng tốt hơn, hỗ trợ khách hàng đổi trả, hoàn tiền,
            bảo hành sản phẩm 24/24, hỗ trợ trả góp với lãi suất 0%, đội ngũ tư vấn chuyên nghiệp, tận tình, ...
            hứa hẹn mang đến cho khách hàng không gian mua sắm với trải nghiệm tốt nhất.
        </p>
        <p class="mt-3">Mong ràng 3TN Store sẽ luôn được đồng hành cùng các quý khách trong hiện tại và cả tương lai sau
            này! Xin cám ơn
            quý khách đã luôn ủng hộ 3TN Store.
        </p>
    </div>
</section>
<!--================Contact Area =================-->