@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!-- a central place to put the title -->

<body>
    <h1>@ViewData["Title"]</h1>
    <div>
        <h2>An error occurred while processing your request.</h2>
        <h3>You do not have permission to access this resource.</h3>
    </div>
</body>
