@model store_3TN.Models.Voucher

@{
    ViewData["Title"] = "Tạo mới khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách tài khoản quản trị</a>
            <span class="breadcrumb-item active">Tạo mới khuyến mãi</span>
        </nav>
    </div>
</div>
<br />
<h1>Tạo khuyến mãi</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="VoucherType" class="control-label"></label>
                <input asp-for="VoucherType" class="form-control" />
                <span asp-validation-for="VoucherType" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <select class="custom-select" asp-for="VoucherType" style="min-width: 200px;" asp-items="ViewBag.lVoucher">
                    <option value="" disabled selected>Chọn loại voucher</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label">Mô tả</label>
                <input asp-for="Desc" type="text" class="form-control" required />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Số lượng</label>
                <input asp-for="Amount"  class="form-control" min="1" oninput="this.value =
                       !!this.value && Math.abs(this.value)>= 1 ? Math.abs(this.value) : null"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMoneyRequire" class="control-label">Trị giá đơn hàng</label>
                <input asp-for="TotalMoneyRequire" class="form-control"  min="1" oninput="this.value =
                       !!this.value && Math.abs(this.value)>= 1 ? Math.abs(this.value) : null"/>
                <span asp-validation-for="TotalMoneyRequire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Giá trị</label>
                <input asp-for="Value" type="number" class="form-control" min="1" oninput="this.value =
                       !!this.value && Math.abs(this.value)>= 1 ? Math.abs(this.value) : null"/>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


